<%= form_tag(generate_report_assessment_path(competency_id: @competency), 
  method: :post, onsubmit: "return validAssessment();") do %>
  <% @questions.each_with_index do |question, index| %>
    <%= content_tag :div, id: "question-#{index}", class: "hidden" do %>
      <%= fields_for "questions[]", question do |qf| %>
        <p><%= "#{(index + 1)}. #{question.question}" %></p>
        <br>
        <%= qf.radio_button :answer, 'always', :checked => false %> 
        <%= qf.label :answer_always, 'Always' %>

        <%= qf.radio_button :answer, 'often', :checked => false %> 
        <%= qf.label :answer_often, 'Often' %>

        <%= qf.radio_button :answer, 'sometimes', :checked => false %> 
        <%= qf.label :answer_sometimes, 'Sometimes' %>

        <%= qf.radio_button :answer, 'rarely', :checked => false %> 
        <%= qf.label :answer_rarely, 'Rarely' %>

        <%= qf.radio_button :answer, 'never', :checked => false %> 
        <%= qf.label :answer_never, 'Never' %>

        <%= qf.radio_button :answer, 'does not apply', :checked => false %> 
        <%= qf.label :answer_does_not_apply, 'Does Not Apply' %>
      <% end %>
    <% end %>
  <% end %>
  <br><br>
  <%= submit_tag "Previous", type: "button", id: "assessment-prev", onclick: "previousQuestion();" %>
  <%= submit_tag "Next", type: "button", id: "assessment-next", onclick: "nextQuestion();" %>
  <%= submit_tag "Finish", id: "assessment-submit" %>
<% end %>