<div id="assessment-disclaimer">
  <h2><%= "Disclaimer for #{@competency.name} Assessment" %></h2>

  <div class="row">
    <%= form_tag(take_assessment_path(competency_id: @competency), method: :post) do %>

      <%= render partial: "partials/disclaimer_text" %>

      <input type="checkbox" id="accept" name="accept" onclick="iAgree();">
      <%= label_tag :accept, "I agree" %>

      <br><br>

      <button id="disclaimer-submit" class="btn waves-effect waves-light" type="submit" name="action">
        Take Assessment
        <i class="material-icons right">send</i>
      </button>
    <% end %>
  </div>

  <div class="row">
    <%= link_to "Pick Another Assessment", assessments_path %>
  </div>

  <script>
    iAgree();
  </script>
</div>
