<div id="printable-report"> 
  <h2><%= "Assessment Report for #{@competency.name}" %></h2>

  <br>
  <%= link_to "Pick Another Assessment", assessments_path, class: "printable" %>
  <br>
  <br>
  <a href="<%= url_for(params.merge(:printable => false)) %>" class="btn-large waves-effect waves-light printable">
    Go Back to Web Version
    <i class="material-icons left">navigate_before</i>
  </a>

  <div class="row">
    <div class="col s9">
      <div id="levels-chart"></div>
    </div>
  </div>

  <div class="page-break"></div>

  <h3 class="report-subheading center">Our Levels</h3>
  <div id="level-descriptions" class="row">
    <% @levels.each do |level| %>
      <div class="col s12 m4">
        <div class="card" data-level="<%= level.name %>">
          <div class="card-content white-text">
            <span class="card-title"><%= level.name %></span>
            <p><%= level.description.html_safe %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="page-break"></div>

  <h3 class="report-subheading center">Our Paradigm</h3>
  <div id="paradigm-descriptions" class="row">
    <% @paradigms.each do |paradigm| %>
      <div class="col s12 m4">
        <div class="card secondary-color-background">
          <div class="card-content white-text">
            <span class="card-title"><%= paradigm.name %></span>
            <p><%= paradigm.description.html_safe %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="page-break"></div>

  <% stage_descriptions = {
      "developed" => "You consistently demonstrate these abilities and behaviors.  Your goal is to maintain and maximize.",
      "developing" => "You demonstrate these abilities and behaviors on an inconsistent basis.  Your goal is to build consistency and continuity.",
      "emerging" => "These abilities and behaviors are yet to be developed.  Your goal is to familiarize and practice."} %>

  <% @indicators_resources.each do |stage, indicators| %>
    <h4 class="secondary-color"><%= stage.capitalize %></h4>
    <p class="stage-description"><%= stage_descriptions[stage] %></p>

    <% if indicators.empty? %>
      <p><em>There are no indicators for this stage at this time.</em></p>
    <% else %>
      <ul>
        <% indicators.each do |indicator| %>
          <li>
            <div class="collapsible-header">
              <strong><%= "#{indicator.description.html_safe} - Level: #{indicator.level.name}" %></strong>
            </div>
            <div class="row">
              <div class="col s11 m11 offset-m1 offset-s1 indicator">
                <ul class="collection with-header">
                  <% indicator.resources.group_by(&:paradigm).each do |paradigm, resources| %>
                    <li class="collection-header paradigm">
                      <strong><%= paradigm.name %></strong>
                    </li>
                    <% resources.each do |resource| %>
                      <li class="collection-item">
                        <div>
                          <%= resource.title.html_safe %>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </li>        
        <% end %>
      </ul>
    <% end %>
    <div class="page-break"></div>
  <% end %>


  <script type="text/javascript">
    var indicators_resources = 
      <%= raw @indicators_resources.to_json(
            include: [
              :level, 
              {
                :resources => {
                  include: :paradigm
                }
              }
            ], 
            except: [:created_at, :updated_at]
      ) %>;
    var levels = <%= raw @levels.to_json %>;
    var competency = <%= raw @competency.to_json %>;
    initColors(levels);
    createLevelsChart(indicators_resources, levels, competency);
    setLevelColor();
    setTimeout(function() {
      window.print()
    }, 1000 );
  </script>
</div>
