<h2><%= "Assessment Report for #{@competency.name}" %></h2>

<br>
<%= link_to "Pick Another Assessment", assessments_path %>

<div id="levels-chart"></div>

<% @indicators_resources.each do |stage, indicators| %>
  <h3><%= stage.capitalize %></h3>

  <% if indicators.empty? %>
    <p><em>There are no indicators for this stage at this time.</em></p>
  <% else %>
    <ul>
      <% indicators.each do |indicator| %>
        <li><%= "#{indicator.description} - Level: #{indicator.level.name}" %></li>

        <ul>
          <% indicator.resources.group_by(&:paradigm).each do |paradigm, resources| %>
            <li><%= paradigm.name %></li>

            <ul>
              <% resources.each do |resource| %>
                <% if !resource.link.present? %>
                  <li><%= resource.title.html_safe %></li>
                <% else %>
                  <li><%= link_to resource.title.html_safe, resource.link %></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
<% end %>

<script type="text/javascript">
  var indicators_resources = 
    <%= raw @indicators_resources.to_json(
          include: [
            :level, 
            {
              :resources => {
                include: :paradigm
              }
            }
          ], 
          except: [:created_at, :updated_at]
    ) %>;
  var levels = <%= raw @levels.to_json %>;
  var competency = <%= raw @competency.to_json %>;
  createLevelsChart(indicators_resources, levels, competency);
</script>


<div id="tap-menu" class="fixed-action-btn">
  <a id="menu" class="waves-effect waves-light btn btn-floating btn-large">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating tooltipped primary-color-background" data-position="left" data-delay="50" data-tooltip="Email yourself the report!">
        <i class="material-icons">email</i>
      </a>
    </li>
    <li> 
      <a class="btn-floating tooltipped cmu-blue-background" data-position="left" data-delay="50" data-tooltip="Print out your report!">
        <i class="material-icons">print</i>
      </a>
    </li>
    <li>
      <a class="btn-floating tooltipped cmu-green-background" data-position="left" data-delay="50" data-tooltip="Give us feedback!">
        <i class="material-icons">feedback</i>
      </a>
    </li>
  </ul>
</div>

<div class="tap-target secondary-color-background" data-activates="menu">
  <div class="tap-target-content white-text">
    <h5>Save your Report!</h5>
    <p>
      Hover over here to learn how you can save your report. You can email a link of this report to yourself or print out a printer friendly version!
    </p>
    <p>Also please leave us some feedback!</p>
  </div>
</div>

<script type="text/javascript">
  $(".tap-target").tapTarget("open");
  $(".tap-target-origin").mouseenter(function(){
    $(".tap-target").tapTarget("close");
    $('.fixed-action-btn').openFAB();
  });
</script>
