<h2><%= "Assessment Report for #{@competency.name}" %></h2>

<br>
<%= link_to "Pick Another Assessment", assessments_path %>

<div id="levels-chart"></div>

<h3 class="report-subheading center">Our Levels</h3>
<div id="level-descriptions" class="row">
  <% @levels.each do |level| %>
    <div class="col s12 m4">
      <div class="card" data-level="<%= level.name %>">
        <div class="card-content white-text">
          <span class="card-title"><%= level.name %></span>
          <p><%= level.description.html_safe %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h3 class="report-subheading center">Our Paradigm</h3>
<div id="paradigm-descriptions" class="row">
  <% @paradigms.each do |paradigm| %>
    <div class="col s12 m4">
      <div class="card secondary-color-background">
        <div class="card-content white-text">
          <span class="card-title"><%= paradigm.name %></span>
          <p><%= paradigm.description.html_safe %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h3 class="report-subheading center">Your Development Plan and Resources</h3>
<% stage_descriptions = {
    "developed" => "You consistently demonstrate these abilities and behaviors.  Your goal is to maintain and maximize.",
    "developing" => "You demonstrate these abilities and behaviors on an inconsistent basis.  Your goal is to build consistency and continuity.",
    "emerging" => "These abilities and behaviors are yet to be developed.  Your goal is to familiarize and practice."} %>

<% @indicators_resources.each do |stage, indicators| %>
  <h4 class="secondary-color"><%= stage.capitalize %></h4>
  <p class="stage-description"><%= stage_descriptions[stage] %></p>

  <% if indicators.empty? %>
    <p><em>There are no indicators for this stage at this time.</em></p>
  <% else %>
    <ul class="collapsible popout" data-collapsible="accordion">
      <% indicators.each do |indicator| %>
        <li>
          <div class="collapsible-header">
            <i class="material-icons tooltipped level-icon" data-level="<%= indicator.level.name %>" data-position="left" data-delay="50" data-tooltip="<%= indicator.level.name %>">assignment_turned_in</i>
            <%= indicator.description.html_safe %>
          </div>

          <div class="collapsible-body indicator">
            <ul class="collection with-header">
              <% indicator.resources.group_by(&:paradigm).each do |paradigm, resources| %>
                <li class="collection-header paradigm">
                  <h5><%= paradigm.name %></h5>
                </li>

                <% resources.each do |resource| %>
                  <li class="collection-item">
                    <div>
                      <%= resource.title.html_safe %>
                      <% if resource.link.present? %>
                        <a href="<%= resource.link %>" class="secondary-content" target="_blank">
                          <i class="material-icons">send</i>
                        </a>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </li>        
      <% end %>
    </ul>
  <% end %>
<% end %>

<script type="text/javascript">
  standardizeCardSize("#paradigm-descriptions");
  standardizeCardSize("#level-descriptions");
  var indicators_resources = 
    <%= raw @indicators_resources.to_json(
          include: [
            :level, 
            {
              :resources => {
                include: :paradigm
              }
            }
          ], 
          except: [:created_at, :updated_at]
    ) %>;
  var levels = <%= raw @levels.to_json %>;
  var competency = <%= raw @competency.to_json %>;
  initColors(levels);
  createLevelsChart(indicators_resources, levels, competency);
  setLevelColor();
</script>

<%= render "hover_menu" %>
