<h3>Inactive Paradigms</h3>
<% if @inactive_paradigms.empty? %>
  <p><em>There are no Inactive paradigms at this time.</em></p>
<% else %>
  <table id="" class="display striped" border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Ranking</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @inactive_paradigms.each do |p| %>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.description %></td>
            <td><%= p.ranking %></td>
            <td><%= link_to "Edit", edit_paradigm_path(p), class: "waves-effect waves-light btn" %></td>
            <td>
              <%= link_to "Delete", paradigm_path(p),
                  method: 'delete',
                  data: {confirm: "Are you sure you want to permanently delete #{p.name}?"},
                  class: "waves-effect waves-light btn red" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
