<h1><%= model_name.pluralize.capitalize %></h1>

<%= render "#{primary}" %>

<% unless secondary.nil? %>
  <br>
  <%= render "#{secondary}" %>
<% end %>

<br>
<% if model_name != "question" and model_name != "indicator" %>

  <%= link_to(eval("new_#{model_name}_path")) do %>
    Add a New <%= model_name.capitalize %>
  <% end %>
<% end %>
<br><br>
