<h1><%= model_name.pluralize.capitalize %></h1>

</br>

<%= render "#{primary}" %>

<% unless secondary.nil? %>
  <br>
  <%= render "#{secondary}" %>
<% end %>

<br>

<%= link_to(eval("new_#{model_name}_path")) do %>
  Add a New <%= model_name.capitalize %>
<% end %>