<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
<li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
<li class="<%= 'active' if current_page?(assessments_path) %>"><%= link_to "Assessments", assessments_path %></li>
<li class="<%= 'active' if current_page?(login_path) %>"><%= link_to "Login", login_path %></li>