<h3>Active Resources</h3>
<% if @active_resources.empty? %>
  <p><em>There are no active resources at this time.</em></p>
<% else %>
  <% @paradigms.each do |p| %>
    <h4><%= link_to p.name, paradigm_path(p) %></h4>
    <% if p.resources.active.empty? %>
      <p><em><%= "There are no active resources at this time for the #{p.name} paradigm." %></em></p>
    <% else %>
      <table border="1">
        <thead>
          <tr>
            <th>Title</th>
            <th>Link</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% p.resources.active.each do |r| %>
            <tr>
              <td><%= link_to r.title.html_safe, resource_path(r) %></td>
              <% if !r.link.present? %>
                <td>No Link</td>
              <% else %>
                <td><%= link_to r.link, r.link %></td>
              <% end %>
              <td><%= link_to "Edit", edit_resource_path(r) %></td>
              <td>
                <%= link_to "Delete", resource_path(r),
                    method: 'delete',
                    data: {confirm: "Are you sure you want to permanently delete #{r.title}?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>
