<h3>Active Resources</h3>
<% if @active_resources.empty? %>
  <p><em>There are no active resources at this time.</em></p>
<% else %>
    <table border="1">
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th>Paradigm</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @active_resources.each do |r| %>
          <tr>
            <td><%= link_to r.title, resource_path(r) %></td>
            <td><%= link_to r.link, r.full_link %></td>
            <td><%= r.paradigm_id %></td>
            <td><%= link_to "Edit", edit_resource_path(r) %></td>
            <td>
              <%= link_to "Delete", resource_path(r),
                  method: 'delete',
                  data: {confirm: "Are you sure you want to permanently delete #{r.title}?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
