<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <%= render partial: "partials/errors", locals: {object: @resource} %>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div>
    <%= f.label :paradigm_id %><br>
    <%= f.collection_select :paradigm_id, @active_paradigms,
      :id, :name, { prompt: "Choose a paradigm..." } %>
  </div>
  <div>
    <%= f.check_box :active %>
    <%= f.label :active, id:"active" %><br>
  </div>

  <div>
    <%= button_to "Submit", class: "btn waves-effect waves-light", name: "competency_id", value: @competency_id do %>
      Submit <i class="material-icons right">send</i>
    <% end %>
  </div>
<% end %>
