<h3>Active Levels</h3>
<% if @active_levels.empty? %>
  <p><em>There are no active levels at this time.</em></p>
<% else %>
    <table id="" class="display striped responsive-table" border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Ranking</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @active_levels.each do |l| %>
          <tr>
            <td><%= link_to l.name, level_path(l) %></td>
            <td><%= l.description %></td>
            <td><%= l.ranking %></td>
            <td><%= link_to "Edit", edit_level_path(l), class: "waves-effect waves-light btn" %></td>
            <td>
              <%= link_to "Delete", level_path(l),
                  method: 'delete',
                  data: {confirm: "Are you sure you want to permanently delete #{l.name}?"},
                  class: "waves-effect waves-light btn red" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
