<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <%= render partial: "partials/errors", locals: {object: @level} %>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :ranking %><br>
    <%= f.number_field :ranking %>
  </div>
  <div>
    <%= f.check_box :active %>
    <%= f.label :active, id:"active" %><br>
  </div>

  <div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
<br>
<%= link_to "Display All Levels", levels_path, class: "waves-effect waves-light btn" %>
