<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title"><%= @level.name %></span>
      <div class="divider"></div>
      <p><strong>Description:</strong><%= @level.description %></p>
      <br>
      <p><strong>Ranking:</strong><%= @level.ranking %></p>
      <br>
      <p>This level is <%= @level.active ? "active" : "inactive" %></p>
    </div>
    <div class="card-action">
      <%= link_to "Edit", edit_level_path(@level), class: "waves-effect waves-light btn" %>
      <%= link_to "Delete", level_path(@level),
          method: 'delete',
          data: {confirm: "Are you sure you want to permanently delete #{@level.name}?"},
          class: "waves-effect waves-light btn red" %>
    </div>
  </div>
</div>
