<h3>Active Indicators</h3>
<% if @active_indicators.empty? %>
  <p><em>There are no active comptencies at this time.</em></p>
<% else %>
    <table border="1">
      <thead>
        <tr>
          <th>Description</th>
          <th>Competency</th>
          <th>Level</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @active_indicators.each do |i| %>
          <tr>
            <td><%= link_to i.description, indicator_path(i) %></td>
            <td><%= link_to i.competency.name, competency_path(i.competency) %></td>
            <td><%= link_to i.level.name, level_path(i.level) %></td>
            <td><%= link_to "Edit", edit_indicator_path(i) %></td>
            <td>
              <%= link_to "Delete", indicator_path(i), 
                  method: 'delete', 
                  data: {confirm: "Are you sure you want to permanently delete #{i.description}?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>