<%= form_for(@indicator) do |f| %>
  <% if @indicator.errors.any? %>
    <div>
      <strong><%= pluralize(@indicator.errors.count, "error") %> prohibited this indicator from being saved:</strong>
      <ul>
        <% @indicator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :competency_id %><br>
    <%= f.collection_select :competency_id, @active_competencies,
      :id, :name, { prompt: "Choose a competency..." } %>
  </div>
  <div>
    <%= f.label :level_id %><br>
    <%= f.collection_select :level_id, @active_levels,
      :id, :name, { prompt: "Choose a level..." } %>
  </div>
  <div>
    <%= f.check_box :active %>
    <%= f.label :active, id:"active" %><br>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
