<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>CompetentU - Admin</title>
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render :partial => "partials/admin_nav_bar" %>

    <div id="main" class="container">
      <%= render :partial => "partials/flash" %>

      <%= yield %>
    </div>
    <br><br>
    <%= render :partial => "partials/footer" %>
  </body>

</html>
